* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body {
    background: linear-gradient(135deg, rgb(17, 16, 16), rgb(110, 200, 228), rgb(223, 130, 252));
    width: 100%;
    height: 958px;
}

#results {
    display: none;
  }
  